* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei", sans-serif;
  box-sizing: border-box;
}

i,
strong,
th {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: none;
}

.h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

textarea {
  /* 边框清零 */
  border: none;
  /* 轮廓线清零 */
  outline: none;
  /* 防止文本域被随意拖拽 */
  resize: none;
}

table {
  /*边框合并*/
  border-collapse: collapse;
  border-spacing: 0;
}

/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: none;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

ul,
dl {
  list-style: none;
  /*display: inline-block;*/
}

.link {
  cursor: pointer;
}





.el-table thead tr {
  background-color: rgba(221, 226, 227, 1);

}

.el-table thead tr th {
  background: none;
  color: #333;
  font-weight: 600;
}

.el-table--border th {
  border-right: none;
}

.el-table--border td {
  border-right-color: #ccc;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #F0F9F8;

}

.el-table--border th,
.el-table__fixed-right-patch {
  border-bottom: none;
}

.el-button:active,.el-button:focus, .el-button:hover{
  color: #fff;
}
.el-button--text,.el-button--text:hover,.el-radio__input.is-checked+.el-radio__label{
  color: #333
}
.el-tabs__item.is-active,.el-tabs__item:hover,.el-pager li.active,.el-pager li:hover,.el-select-dropdown__item.selected{
  color: #08ddad;
}
.el-tabs__item.is-active{
  font-weight: bold;
}
.el-tabs__item{
  color: #9c9eae;
  border-right: 1px solid #ddd;
}
.el-pagination__sizes .el-input .el-input__inner:hover,.el-select .el-input.is-focus .el-input__inner{
  border-color: #08ddad;
}


.el-input__inner{
  height: 32px;

}

.el-input__inner,.el-form--inline .el-form-item__label,.el-form-item__content,.el-input__icon{
  line-height: 32px;
}
.el-date-editor .el-range__icon,.el-date-editor .el-range-separator,.el-date-editor .el-range__close-icon{
  line-height: 26px;
}
.el-date-editor .el-range-separator{
  padding:0
}

.el-tabs--card>.el-tabs__header{
  padding-bottom: 1px !important;
}

.el-button+.el-button{
  vertical-align: top;
}



#load_warp {
  background: transparent !important;
}
.search {
  background: -webkit-linear-gradient(to right, #45d5e7, #4cecc6);
  background: -o-linear-gradient(to right, #45d5e7, #4cecc6);
  background: -moz-linear-gradient(to right, #45d5e7, #4cecc6);
  background: linear-gradient(to right, #45d5e7, #4cecc6);
  color: #fff;
  border: none;
  height: 32px;
}

.pagination {
  background: #fff;
  padding: 15px;
  margin-top: 15px;
  text-align: right;
}


/******************/
.myDialog .el-button {
  width: 80px;
  height: 30px;
  line-height:30px;
  padding: 0;
  color:#fff;
  background: rgba(22, 202, 225, 1);
  border-radius: 0;
  font-size: 12px;
  border:1px solid #DCDFE6;
}

.myDialog .el-button+button {
  color: #808080;
  background: #fff;
}

.myDialog .el-dialog__footer {
  padding-bottom: 40px;
}

.myDialog .el-dialog__header {
  background-color: rgba(221, 226, 227, 1);
  text-align: left;
  padding: 10px 20px 10px;
}

.myDialog .el-dialog__header .el-dialog__title {
  font-size: 14px;
}

.myDialog .el-dialog__header .el-dialog__headerbtn {
  top: 12px;
}

